Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  misc-*,
  -misc-no-recursion,
  performance-*,
  portability-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-avoid-const-params-in-decls,
  -readability-implicit-bool-conversion,
  -misc-non-private-member-variables-in-classes,
  -clang-diagnostic-*

WarningsAsErrors: ''

HeaderFilterRegex: '.*(src|test|examples)/.*'

ExcludeHeaderFilterRegex: '.*template\.h$'

FormatStyle: file
