If:
  PathMatch: [src/.*]
CompileFlags:
  Add: [-D__clang_daemon__]
---
# Apply to C++ sources/headers
If:
  PathMatch:
    - '.*\.(cpp|hpp|ipp)$'
CompileFlags:
  Add:
    - -nostdinc++
    - -isystem
---
Clangd:
  Arguments: [--completion-style=detailed]
