BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
UseTab: Never
BreakBeforeBraces: Attach
PointerAlignment: Left
IndentPPDirectives: BeforeHash

# Required as we have def.h/undef.h that rely on ordering
SortIncludes: false 
