name: CI for Pull Requests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: clang_debug_asan_ubsan_no_custom_poisoning
            build_type: Debug
            toolchain: clang_dev.nix
            flags: "-DUSE_ASAN=On -DUSE_UBSAN=On -DUSE_MSAN=Off -DCUSTOM_MEMORY_TRACKING=0"
            coverage: true
            lint: On
          - name: clang_debug_asan_ubsan
            build_type: Debug
            toolchain: clang_dev.nix
            flags: "-DUSE_ASAN=On -DUSE_UBSAN=On -DUSE_MSAN=Off"
            coverage: true
            lint: On
          - name: clang_debug_msan
            build_type: Debug
            toolchain: clang_msan.nix
            flags: "-DUSE_ASAN=Off -DUSE_UBSAN=Off -DUSE_MSAN=On"
            coverage: false
            lint: Off
          - name: clang_debug_msan_no_custom_poisoning
            build_type: Debug
            toolchain: clang_msan.nix
            flags: "-DUSE_ASAN=Off -DUSE_UBSAN=Off -DUSE_MSAN=On -DCUSTOM_MEMORY_TRACKING=0"
            coverage: false
            lint: Off
          - name: clang_release
            build_type: Release
            toolchain: clang_dev.nix
            flags: ""
            coverage: false
            lint: Off
          - name: gcc_debug_asan_ubsan
            build_type: Debug
            toolchain: gcc.nix
            flags: "-DUSE_ASAN=On -DUSE_UBSAN=On -DUSE_MSAN=Off"
            coverage: false
            lint: Off
          - name: gcc_release
            build_type: Release
            toolchain: gcc.nix
            flags: ""
            coverage: false
            lint: Off

    name: CI for ${{ matrix.name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable

      - name: CMake
        run: nix-shell toolchain/${{ matrix.toolchain }} --run 'cmake -S . -B build -GNinja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DLINTING=${{matrix.lint}} ${{ matrix.flags }}'

      - name: Build
        run: nix-shell toolchain/${{ matrix.toolchain }} --run 'ninja -C build'

      - name: Test
        run: nix-shell toolchain/${{ matrix.toolchain }} --run 'ctest --test-dir build -j --output-on-failure'

      - name: Test Coverage
        if: matrix.coverage == true
        run: nix-shell toolchain/${{ matrix.toolchain }} --run 'ninja -C build coverage'

      - name: Upload coverage artifacts
        if: matrix.coverage == true
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report-${{ matrix.name }}
          path: build/coverage_html/
  check_renovate:
    name: Run Renovate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Renovate
        uses: ./.github/actions/renovate
        with:
          dry_run: "true"
        env:
          RENOVATE_TOKEN: ${{ secrets.RENOVATE_GH_TOKEN }}
          LOG_LEVEL: info