name: Renovate

on:
  schedule:
    - cron: "15 3 * * 0"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  renovate:
    name: Run Renovate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Renovate
        uses: ./.github/actions/renovate
        with:
          dry_run: "false"
        env:
          RENOVATE_TOKEN: ${{ secrets.RENOVATE_GH_TOKEN }}
          LOG_LEVEL: info
