name: Renovate

on:
  schedule:
    - cron: "15 3 * * 0"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  renovate:
    name: Run Renovate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Run Renovate
        env:
            # Token Renovate uses for GitHub API + pushing branches
            RENOVATE_TOKEN: ${{ secrets.RENOVATE_GH_TOKEN }}
            LOG_LEVEL: info
        run: nix-shell toolchain/renovate.nix --run "renovate --config-file .github/renovate.json --platform=github \"\$GITHUB_REPOSITORY\""
